*{
    margin: 0;
    padding: 0;
}
/* Header Banner Style */
.header-banner{
    background-image: url('../images/banner/banner3.png');
    padding: 200px 200px;
    text-align: right;
}
.banner-items{
    margin-left: 600px;
}
.banner-title{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700px;
    margin-bottom: 10px;
    font-family: inter;
}
.banner-description{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 20px;
}
.primary-btn{
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 5px;
    background:#FFFFFF;
    border: none;

}
.primary-btn a{
    color: green;
    text-decoration: none;
}
/* Section */
section{
    margin-top:150px;
}
/* Descriptions Style */
.descriptions{
    display: flex;
    align-items: center;
    margin-right: 200px ;
    margin-left: 200px;
    gap: 30px;
}
.primary-title{
    font-family: inter;
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.descriptions-description{
    margin-bottom: 20px;
}
.descriptions ul li{
    list-style: none;
}
/* Plan Style */
.plan{
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
}
.plan-items{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}
.plan-title{
    font-weight: 700px;
    font-family: inter;
    margin: 10px 0;
}
/* Contact Style */
.contact{
    margin: 150px 200px;
    padding: 50px 650px 50px 50px; 
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),  url('../images/watch.png');
    border-radius: 5px;
}

.contact-title{
    font-family: inter;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}
.contact-btn{
    padding: 10px 15px;
    margin: 8px 0;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.contact-btn a{
    color: #FFFFFF;
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}
/* Footer Style */
.footer{
    display: flex;
    background: #151414;
    color: #FFFFFF;
    padding: 150px 200px;
    gap: 200px;
}

.footer-title{
 font-weight: 700;
 font-size: 35px;
 font-family: inter;
}
.footer-title, .footer-description, .footer-contact, .footer-email{
    margin-bottom: 15px;
}
.footer-email{
    padding: 10px;
    background-color: azure;
    border: none;
    border-radius: 5px;
    width: 300px;
}
.footer .primary-btn{
    background-color: #005FAC;
    color:#FFFFFF;
}